USE [alquiler]
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARMODOPAGO]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSCARMODOPAGO]
@NOMBRE VARCHAR(30)
AS
SELECT * FROM TipoModoPago
WHERE idTipoMopa=@NOMBRE
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARTIPODOCUEMTNOIDENTIDAD]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BUSCARTIPODOCUEMTNOIDENTIDAD]
@CADENA VARCHAR(30)
AS
SELECT * FROM tipoDocumentoIdentidad
where nombre LIKE @CADENA+'%' OR abreviatura LIKE @CADENA+'%'
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARMODOPAGO]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINARMODOPAGO]
@ID INT
AS
DELETE FROM TipoModoPago WHERE idTipoMopa=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARTIPODOCUMENTOIDENTIDAD]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINARTIPODOCUMENTOIDENTIDAD]
@IDTIPODOCUMENTOIDENTIDAD INT
AS
DELETE FROM tipoDocumentoIdentidad where idtipodoide=@IDTIPODOCUMENTOIDENTIDAD
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARDOCUMENTOIDENTIDAD]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTARDOCUMENTOIDENTIDAD]
AS
SELECT * FROM tipoDocumentoIdentidad

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARMODOPAGO]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTARMODOPAGO]
AS
SELECT * FROM TipoModoPago
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICARMODOPAGO]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MODIFICARMODOPAGO]
@ID INT,
@NOMBRE VARCHAR(30)
AS
UPDATE TipoModoPago SET nombre=@NOMBRE
WHERE idTipoMopa=@ID
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICARTIPODOCUMENTOIDENTIDAD]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MODIFICARTIPODOCUMENTOIDENTIDAD]
@IDTIPODOIDE INT,
@NOMBRE VARCHAR(30),
@ABREVIATURA VARCHAR(6)
AS
UPDATE tipoDocumentoIdentidad SET nombre=@NOMBRE,
abreviatura=@ABREVIATURA
where idtipodoide=@IDTIPODOIDE
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRARMODOPAGO]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRARMODOPAGO]
@ID INT,
@NOMBRE VARCHAR(30)
AS
INSERT INTO TipoModoPago(idTipoMopa,nombre) values (@ID,@NOMBRE)
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRARTIPODOCUMENTOIDENTIDAD]    Script Date: 22/05/2019 3:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRARTIPODOCUMENTOIDENTIDAD]
@NOMBRE VARCHAR(30),
@ABREVIATURA VARCHAR(6)
AS
INSERT INTO tipoDocumentoIdentidad(nombre,abreviatura) values (@NOMBRE,@ABREVIATURA)
GO
